body{
    background-color: Lavender; ;
    color: Dark charcoal gray;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1{
    color: pink;
}

h2,h3{
    color: Dark charcoal gray;
}

img{
    border: 2px solid white;
}